/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #fbf1c7;
  --global-code-bg-color: #f2e5bc;
  --global-text-color: #3c3836;
  --global-text-color-light: #7c6f64;
  --global-theme-color: #458588;
  --global-hover-color: #458588;
  --global-hover-text-color: #fbf1c7;
  --global-footer-bg-color: #282828;
  --global-footer-text-color: #7c6f64;
  --global-footer-link-color: #fbf1c7;
  --global-distill-app-color: #3c3836;
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #fbf1c7;
  
  --global-tip-block: #98971a;
  --global-tip-block-bg: #fbf1c7;
  --global-tip-block-text: #3c3836;
  --global-tip-block-title: #98971a;
  --global-warning-block: #d65d0e;
  --global-warning-block-bg: #fbf1c7;
  --global-warning-block-text: #3c3836;
  --global-warning-block-title: #d65d0e;
  --global-danger-block: #cc241d;
  --global-danger-block-bg: #fbe3e2;
  --global-dang
  

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
